:root {
  --primary-color: #ff7833;
  --secondary-color: #31333b;
  --secondary-color-light: #444856;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  margin: 0;
  color: #e7e7e7;
  /* usei min height com 100vh pois todo conteúdo adicional ainda ocupara os 100da vh com a msm edição msm cor do background */
  min-height: 100vh;
  line-height: 1.7;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-header {
  width: 260px;
  background-color: var(--secondary-color);
  /* no meu header total eu falei q n tenho flex grow e nem shrink mas um flex basis de 260px, logo ele ficara com a largura igual pra tudo no header */
  flex: 0 0 26rem;
}
.main {
  background-color: #444856;
  /* no meu main na onde tem meu conteúdo eu falei q eu qro um flex grow pq ele faltava completar um espaço ai eu pedi pra ele ocupar todo espaço com o flex grow 1 */
  flex: 1 0;
  padding: 6.5rem 6rem 7.5rem;
}
.main h1 {
  font-size: 4rem;
  color: #7b7b7b;
  margin-top: 2.4rem;
  margin-bottom: 3rem;
}
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  margin: 0;
  padding-bottom: 2rem;
}
h2 {
  margin-top: 2rem;
}
article {
  padding: 1em 0;
}
section {
  margin-bottom: 3rem;
}
.destaque {
  border-left: 1px solid var(--primary-color);
  font-size: 1.1em;
  /* padding-left: 2em; */
  margin-bottom: 2.2em;
  padding: 0 0 0 2em;
}
a {
  color: inherit;
}
.main,
.main-header {
  font-size: 1.6rem;
}
.perfil {
  max-width: 10rem;
  border-radius: 50%;
  margin: 6rem 2.5rem 2rem 0;
}
.bullet li {
  border-bottom: 1px solid #e7e7e7;
  /* display: block; */
  padding: 1.7rem 0 1.7rem;
  /* text-align: right; */
  margin-right: 2.2rem;
  transition: padding-right 0.2s, background-color 0.4s;
}
.bullet ul {
  list-style-type: none;
}
.bullet {
  display: block;
  text-align: right;
}
.bullet li:hover {
  padding-right: 0.5rem;
  background-color: #444856;
}
.bullet ul a:focus {
  padding-right: 0.5rem;
  background-color: #444856;
}
.bullet a {
  text-decoration: none;
}
.underline {
  text-decoration: red wavy underline;
}
.card {
  max-width: 740px;
  background-color: var(--secondary-color);
  padding: 0;
}
.card img {
  /* estou falando q minha img tera um max width do seu tamanho completo, nao causando barra de rolagem em alguns casos */
  max-width: 100%;
}
.card_content {
  padding: 1em;
}
.card_content p {
  margin-top: 0;
  margin-bottom: 0;
}
.row {
  display: flex;
  gap: 2em;
  padding-top: 1.5rem;
  justify-content: space-between;
}
.row > * {
  /* estou falando q minha classe row quando usar >* estou falando q qm for filho da classe row terá esses atributos: flex grow 1 pra ocupar espaço, o shrink de 0 pra n diminuir e o flex basis de 0% issso fará com q as colunas sempre fiquem do msm tamanho independente do conteúdo. */
  flex: 1 0 0%;
}
.alternate {
  list-style-type: none;
  padding-left: 0;
}
.alternate li:not(:last-child) {
  border-bottom: 2px solid;
  padding: 0;
}
.emoji {
  list-style-type: "\1F642";
}
